body {
    margin: 0;
}

h1 {
    text-align: center;
    padding: 5px;
}

p {
    padding: 5px;
}

header {
    display: block;
    background-color: #b92c28;
    min-height: 10px;
    width: 100%;
}

nav {
    background-color: #cbba0c;
    display: inline-block;
    width: 100%;
    list-style: none;
}

nav li {
    float: left;
    margin-right: 10px;
    position: relative;
    display: block;
    padding: 5px;
    background-color: #541111;
}

nav li a {
    float: left;
    margin-right: 5px;
    text-decoration: none;
    color: #6bb947;
}

nav .nav-left {
    display: inline-block;
    float: left;
    width: 30%;
    height: 100%;
    background-color: #54521d;
}

nav .nav-center {
    display: inline-block;
    width: 40%;
    background-color: #53804a;
}

nav .nav-right {
    display: inline-block;
    float: right;
    background-color: #8acb00;
}

.logo {
    float: left;
    display: inline-block;
    background-color: #471b54;
    min-width: 160px;
    min-height: 80px;
}

.wrapper {
    border: dashed 10px #000000;
    min-height: 100%;
    margin: 0 50px;
}

body > div {
    background-color: #2b542c;
}

.content {
    background-color: #cbba0c;
    min-height: 100px;
    width: 100%;
}

.content-left {
    display: inline-block;
    float: left;
    background-color: #090db8;
    width: 50%;
    min-height: 500px;
}

.content-right {
    display: inline-block;
    float: right;
    background-color: #2ab6b8;
    width: 50%;
    min-height: 500px;
}

footer {
    display: inline-block;
    background-color: #c12fbe;
    min-height: 50px;
    width: 100%;
}