* {
    margin: 0;
}

body {
    background-color: #f4f5f7;
}

p {
    padding: 5px;
}

h1 {
    text-align: center;
    margin: 0;
}

/*HEADER*/

header {
    position: fixed;
    z-index: 999;
    background-color: #3cb925;
    width: 100%;
    height: 50px;
}

nav {
    margin: 0 auto;
    width: 960px;
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-left, .nav-center, .nav-right {
    height: 100%;
    display: inline-block;
    margin: -2px;
}

.nav-left {
    width: 25%;
}

.nav-center {
    width: 30%;
}

.nav-right {
    width: 45%;
}

/*NAV-LEFT*/

.logo {
    float: left;
    display: inline-block;
    background: url("images/logo.png") no-repeat;
    width: 36px;
    height: 36px;
    margin-left: 8px;
    margin-top: 8px;
}

.logo-text {
    display: inline-block;
    float: right;
    margin-right: 77px;
    margin-top: 14px;
    color: #ffffff;
}

/*NAV-CENTER*/

#search-form {
    margin: 12px 22px;
}

#search {
    display: inline-block;
    float: left;
    height: 20px;
    width: 210px;
    background-color: #009d00;
    padding: 3px 0 3px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-color: #009d00;
    font-size: 16px;
}

#search:focus {
    background: #ffffff;
}

#search::-webkit-input-placeholder {
    color: #e0e0e0;
}

#search::-moz-placeholder {
    color: #e0e0e0;
}

#search::placeholder {
    color: #e0e0e0;
}

#search:focus::-webkit-input-placeholder { color:transparent; }
#search:focus::-moz-placeholder { color:transparent; }
#search:focus::placeholder { color:transparent; }

/*NAV-RIGHT  */

nav ul {
    height: 35px;
    list-style: none;
    padding-left: 0;
}

nav li {
    height: 100%;
    float: right;
    padding: 0 5px 0 5px;
}

nav li a:hover {
    background-color: #009100;
}

nav li a {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
    padding-top: 17px;
}

/*MARGIN*/

.margin {
    height: 90px;
}

/*CONTENT*/

.wrapper-all {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.wrapper-960px {
    display: table;
    height: 100%;
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-content {
    display: table-cell;
    vertical-align: middle;
}

.content {
    margin: 0 auto;
    position: relative;
}

.left-content, .right-content {
    display: inline-block;
}

.left-content {
    float: left;
    width: 60%;
}

.right-content {
    float: right;
    width: 40%;
}

/*LEFT-CONTENT*/

#titleMobile, #descriptionMobile {
    text-align: center;
    font-family: "Open Sans", Helvetica, sans-serif;
}

#titleMobile {
    font-size: 24px;
    margin-bottom: 10px;
}

#descriptionMobile {
    padding: 5px;
    margin-bottom: 50px;
}

.platforms {
    margin-top: 7px;
    margin-right: 5px;
    background-image: url("images/platforms.png");
    display: inline-block;
    float: left;
}

.icon-android {
    width: 18px;
    height: 22px;
    background-position: 0 -23px;
}

.icon-ios {
    width: 18px;
    height: 22px;
    background-position: 0 0;
}

.icon-wp {
    width: 18px;
    height: 22px;
    background-position: 0 -44px;
}

#androidMobile {
    position: relative;
    margin: 0 0 0 40px;
    float: left;
    background: url("images/android_ru.png") no-repeat;
    width: 180px;
    height: 500px;
    cursor: pointer;
}

#iosMobile {
    position: relative;
    margin: -15px 0 0 -30px;
    float: left;
    width: 192px;
    height: 500px;
    cursor: pointer;
    background: url("images/ios_ru.png") no-repeat;
    z-index: 1;
}

#wpMobile {
    position: relative;
    margin: 0 0 0 -45px;
    float: left;
    background: url("images/wp_ru.png") no-repeat;
    width: 200px;
    height: 500px;
    cursor: pointer;
}

.download {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 420px;
    height: 40px;
    text-align: left;
    line-height: 2;
    background-color: transparent;
    color: #009100;
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

#androidMobile > .download {
    left: 15px;
}

#iosMobile > .download {
    left: 28px;
    top: 435px;
}

#wpMobile > .download {
    left: 45px;
}

.download:hover {
    color: #3cb925;
    background-color: #ededed;
}

/*RIGHT-CONTENT*/

.containerForm {
    float: left;
    width: 100%;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 228, 232) rgb(227, 228, 232) rgb(215, 216, 219);
    border-image: initial;
    border-bottom: 1px solid rgb(215, 216, 219);
    border-radius: 5px;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

#form-login {
    height: 200px;
}

.inputForm {
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 4px 12px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #3cb925;
    border-radius: 3px;
    margin: 17px 0 0 30px;
}

.inputForm::-webkit-input-placeholder {
    color: #009100;
} {

}

#input-login {
    margin-top: 25px;
}

#input-password {
    margin: 10px 0 0 30px;
}

#loginButton {
    float: left;
    width: 120px;
    height: 40px;
    background-color: #3cb925;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0 0 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #009100;
    border-image: initial;
    border-radius: 3px;
}

#loginButton:hover {
    background-color: #009100;
}

#restorePass {
    float: left;
    font-size: 16px;
    margin: 30px 0 0 42px;
}

#restorePass a {
    color: #3cb925;
}

#restorePass a:hover {
    color: #009100;
}

#form-reg {
    margin-top: 35px;
    height: 360px;
}

#titleReg {
    margin-top: 20px;
    font-size: 24px;
    color: #009100;
}

#paragraphReg {
    margin-top: 5px;
}

#titleReg, #paragraphReg {
    text-align: center;
}

#birthdayTitle {
    margin: 15px 30px;
    float: left;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 18px;
}

#regButton {
    width: 80%;
    height: 42px;
    background-color: #2150b0;
    border: 2px solid #2150b0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin: 17px 0 0 30px;
}

#regButton:hover {
    background-color: #17317a;
    border: 2px solid #17317a;
}

#iconDateQ {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABYElEQVR4AYxSAUQEQRT9ECKQQgGAAhEAVRQEAAokIclV++cOgA5E0Nk/3XEAAEvodv4UBIgQAggEJJAIBGreIWNub/VYa/a9t95/fygFXxaTxvptI75n7O0dW33EG2d8B091aPXcJgzhOWcZrDX75cxB/2kCb5zxHTx0VAXT1b2m+EHWdYtUA/DQQT+SAESIOk3/AHTQw/fXASKmCVjcCoves/VfxuoL53qYJoIPfkJZmLWi3E8W/5ZZPWPR53D+OcnLjVgHH/yE1ptXuhqTDVsuDFPkbgfn0yDET7LctWIdyoafEAnt0xgcSzFrRB/C822kXIo5+OAn3AOskSrQuLiZZ/GvLPqedcr1lIcP/tokmbj94RjWb1GMNAlmwmyVP+lcz5lc20ftYiqhkk7i7SQIgl1j9SOMspxy8XbG3hMA28Gak0JH78nvKE+xlOcdTABMdK6wXAxKgCTkYsrLEwAVbzBSEJpVAAAAAABJRU5ErkJggg==") no-repeat 0 0;
    width: 17px;
    height: 17px;
    display: inline-block;
}

#dateBirthday {
    margin: 1px 0 0 30px;
    float: left;
    width: 80%;
}

.listReg {
    margin-right: 2px;
    padding: 4px 0 2px 4px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#dayBirth {
    width: 27%;
}

#monthBirth {
    width: 40%;
}

#yearBirth {
    width: 85px;
}

#fbSign {
    margin-top: 1px;
    height: 50px;
}

.fbText {
    margin: 15px auto;
    text-align: center;
}

#fbSign a {
    width: 100%;
    text-decoration: none;
    color: #3cb925;
}

#fbSign a:hover {
    color: #009100;
}

.attach-icons {
    background-image: url("images/attach_icons.png");
    display: inline-block;
    float: left;
}

#fbSign .facebook-icon {
    position: relative;
    left: 95px;
}

.facebook-icon {
    width: 16px;
    height: 16px;
    background-position: 0 -65px;
}


/*FOOTER*/

.nav-margin {
    clear: both;
    float: none;
    height: 80px;
}

.footer-margin {
    clear: both;
    float: none;
    height: 140px;
}

footer {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    border-top: 2px solid #e4e8ed;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
}

footer a {
    color: #009100;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #3cb925;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer li {
    float: left;
    padding-right: 5px;
}

.footer-left, .footer-center, .footer-right {
    position: absolute;
    height: 20px;
    top: 10px;
    margin: 20px 13px 10px 13px;
    min-width: 20%;
}

/*FOOTER LEFT*/



/*FOOTER-CENTER*/

.footer-center {
    left: 30%;
}

/*FOOTER-RIGHT*/

.footer-right {
    right: 0;
}

.lngText {
    color: #8c8c8c;
}