* {
    margin: 0;
}

body {
    background-color: #edeef0;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,Helvetica Neue, sans-serif;
}

input, textarea, select, button {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,Helvetica Neue, sans-serif;
}

p {
    padding: 5px;
}

h1 {
    text-align: center;
    margin: 0;
}

/*HEADER*/

header {
    position: fixed;
    z-index: 999;
    background-color: #507299;
    width: 100%;
    height: 42px
}

nav {
    margin: 0 auto;
    width: 960px;
    height: 100%;
}

.nav-left, .nav-center, .nav-right {
    height: 100%;
    display: inline-block;
    margin: -2px;
}

.nav-left {
    width: 15%;
    cursor: pointer;
}

.nav-center {
    width: 40%;
}

.nav-right {
    width: 45%;
}

/*NAV-LEFT*/

.logo {
    background-image: url("images/head_icons.png");
    background-position: 0 -98px;
    background-repeat: no-repeat;
    width: 33px;
    height: 19px;
    margin-left: 15px;;
    margin-top: 13px;
}

/*NAV-CENTER*/

#search-form {
    margin: 8px 22px;
}

#search {
    border: 0;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 6px 6px 6px 0;
    margin: 2px 0;
    height: 28px;
    width: 230px;
    border-radius: 14px;
    background-color: #305075;
    background-image: url("images/dev_head_magglass.png");
    background-repeat: no-repeat;
    padding-left: 19px;
    border-left: 9px solid transparent;
    background-position: left 8px;
}

#search:focus {
    background-color: #ffffff;
}

#search::-webkit-input-placeholder {
    color: #abbfd4;
}

#search::-moz-placeholder {
    color: #abbfd4;
}

#search::placeholder {
    color: #abbfd4;
}

#search:focus::-webkit-input-placeholder { color:transparent; }
#search:focus::-moz-placeholder { color:transparent; }
#search:focus::placeholder { color:transparent; }

/*NAV-RIGHT  */

.nav-right a {
    float: right;
    text-decoration: none;
    white-space: nowrap;
    line-height: 46px;
    height: 42px;
    overflow: hidden;
    padding: 0 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
}

.nav-right a:hover {
    background-color: #486991;
    text-decoration: none;
}

/*MARGIN*/

.nav-margin {
    clear: both;
    float: none;
    height: 30px;
}

/*CONTENT*/

.wrapper-all {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.wrapper-960px {
    display: table;
    height: 100%;
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-content {
    display: table-cell;
    vertical-align: middle;
}

.content {
    margin: 0 auto;
    position: relative;
}

.left-content, .right-content {
    display: inline-block;
}

.left-content {
    float: left;
    width: 640px;
}

.right-content {
    float: right;
    width: 320px;
}

/*LEFT-CONTENT*/

.mobile-content {
    padding: 0 30px 0 30px;
    margin-right: 20px;
}

#titleMobile, #descriptionMobile {
    text-align: center;
}

#titleMobile {
    font-size: 24px;
    margin-bottom: 10px;
}

#descriptionMobile {
    padding-right: 34px;
    font-size: 14.5px;
    line-height: 24px;
    margin-bottom: 50px;
    padding-left: 24px;;
}

.platforms {
    margin-top: 7px;
    margin-right: 5px;
    background-image: url("images/platforms.png");
    display: inline-block;
    float: left;
}

.icon-android {
    width: 18px;
    height: 22px;
    background-position: 0 -23px;
}

.icon-ios {
    width: 18px;
    height: 22px;
    background-position: 0 0;
}

.icon-wp {
    width: 18px;
    height: 22px;
    background-position: 0 -44px;
}

#androidMobile {
    position: relative;
    margin: 0 0 0 40px;
    float: left;
    background: url("images/android_ru.png") no-repeat;
    width: 180px;
    height: 500px;
    cursor: pointer;
}

#iosMobile {
    position: relative;
    margin: -15px 0 0 -30px;
    float: left;
    width: 192px;
    height: 500px;
    cursor: pointer;
    background: url("images/ios_ru.png") no-repeat;
    z-index: 1;
}

#wpMobile {
    position: relative;
    margin: 0 0 0 -45px;
    float: left;
    background: url("images/wp_ru.png") no-repeat;
    width: 200px;
    height: 500px;
    cursor: pointer;
}

.download {
    position: absolute;
    margin: 0;
    top: 390px;
    text-align: center;
    line-height: 3;
    background-color: transparent;
    color: #507299;
    font-size: 13px;
    padding: 0 15px 0;
}

#androidMobile > .download {
    left: 15px;
}

#iosMobile > .download {
    left: 28px;
    top: 405px;
}

#wpMobile > .download {
    left: 45px;
}

.download:hover {
    color: #507299;
    background-color: #e1e5eb;
}

/*RIGHT-CONTENT*/

.containerForm {
    float: left;
    padding: 25px;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 228, 232) rgb(227, 228, 232) rgb(215, 216, 219);
    border-image: initial;
    border-bottom: 1px solid rgb(215, 216, 219);
    border-radius: 5px;
}

.inputForm {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 6px 12px 8px;
    border: 1px;
    border-style: solid;
    border-color: #d3d9de;
    border-radius: 3px;
    margin-bottom: 15px;
}

.inputForm::-webkit-input-placeholder {
    color: #a5a6a8;
}

.inputForm::-moz-placeholder {
    color: #a5a6a8;
}

.inputForm::placeholder {
    color: #a5a6a8;
}

.inputForm:focus::-webkit-input-placeholder { color: #c9d0d6; }
.inputForm:focus::-moz-placeholder { color: #c9d0d6; }
.inputForm:focus::placeholder { color: #c9d0d6; }

#loginButton {
    float: left;
    margin-right: 15px;
    padding: 10px 16px 10px 16px;
    width: 100px;
    background-color: #5e81a8;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-style: solid;
    border: 0;
    border-radius: 3px;
}

#loginButton:hover {
    background-color: #6888ad;;
}

#restorePass {
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 12px;
    padding-top: 10px;
}

#restorePass a {
    color: #507299;
}

#restorePass a:hover {
    color: #507299;
}

#form-reg {
    margin-top: 35px;
}

#titleReg {
    margin-top: -4px;
    font-size: 20px;
    color: #000000;
}

#paragraphReg {
    padding: 10px 0 16px;
    color: #656565;
    font-size: 12px;
}

#titleReg, #paragraphReg {
    text-align: center;
}

#birthdayTitle {
    margin-bottom: 10px;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 13px;
}

#regButton {
    margin-top: 15px;
    width: 100%;
    line-height: 20px;
    background-color: #5fb053;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    padding: 7px 3px 8px 3px;
}

#regButton:hover {
    background-color: #68b35d;
}

#iconDateQ {
    margin-left: 3px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABYElEQVR4AYxSAUQEQRT9ECKQQgGAAhEAVRQEAAokIclV++cOgA5E0Nk/3XEAAEvodv4UBIgQAggEJJAIBGreIWNub/VYa/a9t95/fygFXxaTxvptI75n7O0dW33EG2d8B091aPXcJgzhOWcZrDX75cxB/2kCb5zxHTx0VAXT1b2m+EHWdYtUA/DQQT+SAESIOk3/AHTQw/fXASKmCVjcCoves/VfxuoL53qYJoIPfkJZmLWi3E8W/5ZZPWPR53D+OcnLjVgHH/yE1ptXuhqTDVsuDFPkbgfn0yDET7LctWIdyoafEAnt0xgcSzFrRB/C822kXIo5+OAn3AOskSrQuLiZZ/GvLPqedcr1lIcP/tokmbj94RjWb1GMNAlmwmyVP+lcz5lc20ftYiqhkk7i7SQIgl1j9SOMspxy8XbG3hMA28Gak0JH78nvKE+xlOcdTABMdK6wXAxKgCTkYsrLEwAVbzBSEJpVAAAAAABJRU5ErkJggg==") no-repeat 0 0;
    width: 17px;
    height: 17px;
    display: inline-block;
}

#dateBirthday {
    width: 100%;
    position: relative;
}

.listReg {
    position: relative;
    margin-right: 2.5%;
    margin-left: 3%;
    padding: 4px 0 2px 4px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#dayBirth {
    margin-left: 0;
    width: 25%;
}

#monthBirth {
    margin-left: 4%;
    width: 34%;
}

#yearBirth {
    float: right;
    width: 25%;
    margin-right: 0;
}

#fbSign {
    float: none;
    clear: both;
    padding: 15px;
    border: 0;
}

.fbText {
    text-align: center;
}

#fbSign a {
    font-size: 13px;
    text-decoration: none;
    color: #507299;
}

#fbSign a:hover {
    text-decoration: underline;
}

.attach-icons {
    background-image: url("images/attach_icons.png");
    display: inline-block;
}

#fbSign .facebook-icon {
    padding-right: 5px;
    vertical-align: bottom;
}

.facebook-icon {
    width: 16px;
    height: 16px;
    background-position: 0 -65px;
}


/*FOOTER*/

.footer-margin {
    clear: both;
    float: none;
    height: 90px;
}

footer {
    font-size: 13px;
    border-top: 2px solid #e4e8ed;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
}

footer a {
    color: #2a5885;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer li {
    float: left;
    padding-right: 5px;
}

.footer-left, .footer-center, .footer-right {
    position: absolute;
    height: 20px;
    top: 10px;
    margin: 20px 13px 10px 13px;
    min-width: 20%;
}

/*FOOTER LEFT*/

.footer-left {
    color: #8c8c8c;
}

/*FOOTER-CENTER*/

.footer-center {
    left: 30%;
}

/*FOOTER-RIGHT*/

.footer-right {
    right: 0;
}

.lngText {
    color: #8c8c8c;
}