<div class="row">
    <div class="col-md-12">
        <h1>О нас</h1>
        <h3>Японская кухня «Фудзи» — Обнинск</h3>
        <p>
            Доставка суши в Обнинске от "Фудзи" —  акции и бонусные карты :: контакты и условия доставки
        </p>
        <p>
            Перекусить, вкусить или насладиться вкусом? На работе, дома, в гостях или в одиночестве? Идти, платить и переплачивать? Доставка японских блюд Фудзи говорит: «Нет!» Куда лучше, если все это придет само.Просто закажите суши с доставкой.
        </p>
        <p>
            Теперь для того, чтобы попробовать блюда японской кухни - суши, роллы или сашими, вам не обязательно идти в суши бар или японский ресторан. Заказав обед в офис или ужин домой, вы сможете насладиться самыми популярными блюдами, которыми может похвастаться японская кухня. Наши повара выполнят ваш заказ сразу после его поступления, либо к указанному вами времени. Каждое блюдо упаковывается с соответствующими соусами и столовыми приборами (маринованный имбирь, васаби, соевый соус, палочками)
        </p>
        <p>
            Наш адрес г. Обнинск, ул. Кабицынская 22
        </p>
        <p>
            тел: 8(48439) 9-04-08
        </p>
        <p>
            моб: +7930 759-04-08
        </p>
    </div>
</div>
