<!-- CONTENT START -->
<!-- CONTENT # 1: Jumbotron -->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>
                Текст для веб-сайта
            </h2>
            <p>
                Сайтов различной тематики и направленности в Интернете не просто много, их очень много. Учитывая, что практически все ресурсы либо предлагают бесплатно скачать контент, либо агитируют пользователей купить товары и воспользоваться определенными услугами, возникает вопрос: как при такой жесткой конкуренции привлечь внимание пользователей именно к своему веб-ресурсу?
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">Перейти к Демо</a>
            </p>
        </div>
    </div>
</div>
<!-- CONTENT # 1 -->
<!-- CONTENT # 2: Blockquotes -->
<div class="row">
    <div class="col-md-6">
        <blockquote>
            <p>
                Конструкторы адаптивных сайтов позволяют создать ресурс, который будет корректно отображаться на экранах всех типов: мониторах стационарных ПК, ноутбуках, смартфонах и планшетах.
            </p>
        </blockquote>
    </div>
    <div class="col-md-6">
        <blockquote>
            <p>
                Конструкторы адаптивных сайтов позволяют создать ресурс, который будет корректно отображаться на экранах всех типов: мониторах стационарных ПК, ноутбуках, смартфонах и планшетах.
            </p>
        </blockquote>
    </div>
</div>
<!-- CONTENT # 2 -->
<!-- CONTENT # 3: Tabbable -->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable" id="index_tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#step001" data-toggle="tab">Шаг 1</a>
                </li>
                <li>
                    <a href="#step002" data-toggle="tab">Шаг 2</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="step001">
                    <p>
                        Первое правило Бойцовского клуба: никому не рассказывать о Бойцовском клубе.
                    </p>
                </div>
                <div class="tab-pane" id="step002">
                    <p>
                        Второе правило Бойцовского клуба: никогда никому не рассказывать о Бойцовском клубе.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT # 3 -->
<!-- CONTENT # 4: Text -->
<div class="row">
    <div class="col-md-4">
        <h2>
            Заголовок
        </h2>
        <p>
            Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст.
        </p>
        <p class="text-right">
            <a class="btn" href="#">Подробнее</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Заголовок
        </h2>
        <p>
            Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст.
        </p>
        <p class="text-right">
            <a class="btn" href="#">Подробнее</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Заголовок
        </h2>
        <p>
            Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст. Мотивирующий текст.
        </p>
        <p class="text-right">
            <a class="btn" href="#">Подробнее</a>
        </p>
    </div>
</div>
<!-- CONTENT # 4 -->
<!-- CONTENT # 5: Carousel -->
<div class="row">
    <div class="col-md-12">
        <div class="carousel slide" id="portfolio" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#portfolio" data-slide-to="0"></li>
                <li data-target="#portfolio" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/1442175505_maxresdefault.jpg" alt="Портфолио" style="height: 360px; width: 100%">
                    <div class="carousel-caption">
                        Текст слайда...
                    </div>
                </div>
                <div class="item">
                    <img src="images/1442175505_maxresdefault.jpg" alt="Портфолио" style="height: 360px; width: 100%">
                    <div class="carousel-caption">
                        Текст слайда...
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#portfolio" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#portfolio" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<!-- CONTENT # 5 -->
<!-- CONTENT END -->